<!DOCTYPE html>

<html>
<head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Charity</title>
    <link rel="icon" href="~/Content/~/Content/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="~/Content/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>

<body>

    @{Html.RenderPartial("_HeaderPartial"); }   

    <div>
        @RenderBody()
    </div>
    @{Html.RenderPartial("_FooterPartial"); }

    @RenderSection("Scripts", false);
    <script src="~/Scripts/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/Scripts/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/Scripts/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/Scripts/js/swiper.min.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>
    <script src="~/Scripts/js/jquery.smooth-scroll.min.js"></script>
    <!-- swiper js -->
    <script src="~/Scripts/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="~/Scripts/js/slick.min.js"></script>
    <script src="~/Scripts/js/jquery.counterup.min.js"></script>
    <script src="~/Scripts/js/waypoints.min.js"></script>
    <!-- contact js -->
    <script src="~/Scripts/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Scripts/js/jquery.form.js"></script>
    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/mail-script.js"></script>
    <script src="~/Scripts/js/contact.js"></script>
    <!-- custom js -->
    <script src="~/Scripts/js/custom.js"></script>
</body>
</html>
